* {
  padding: 0px;
  margin: 0px;
}

/* titulos */
.animate__fadeIn {
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 50px;
  color: rgb(133, 91, 66);
  font-family: "Righteous", cursive;
  animation: fadeIn;
  animation-duration: 5s;
}

@media (max-width: 546px) {
  .animate__fadeIn {
    margin-top: 30%;
  }
}
@media (max-width: 768px) {
  .animate__fadeIn {
    margin-top: 60%;
  }
}
@media (max-width: 1000px) {
  .animate__fadeIn {
    margin-top: 80%;
  }
}
body {
  background-color: rgb(204, 213, 174);
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  height: 100vh;
}

/* formulario contacto */
form {
  width: 350px;
  padding: 16px;
  border-radius: 10px;
  margin-left: 55%;
  background-color: rgb(212, 163, 115);
}
form label {
  width: 72px;
  font-weight: bold;
  display: inline-block;
}

form input[type=text],
form input[type=email] {
  width: 230px;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}

form input[type=submit] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #4e4b4b;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #673c3c;
}

form input[type=submit]:hover {
  background-color: rgb(145, 116, 116);
  text-align: center;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    font-size: 100%;
  }
  100% {
    opacity: 1;
  }
}
textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  resize: none;
  display: block;
}

@media (max-width: 546px) {
  .contacto {
    margin-top: 10%;
    margin-left: 30%;
    flex: 100%;
  }
}
@media (max-width: 768px) {
  .contacto {
    margin-top: 10%;
    flex: 100%;
  }
}
@media (max-width: 1000px) {
  .contacto {
    margin-top: 10%;
    display: flex;
    flex: 100%;
    margin-right: 85%;
    margin-left: 18%;
    margin-bottom: 10%;
  }
}
.container-contacto {
  margin-bottom: 10%;
  margin-top: -35%;
  margin-inline: 5%;
}

.titulo-hablamos {
  font-size: 50px;
  margin-left: 15%;
  margin-top: 6%;
  color: #673c3c;
  font-family: "Dancing Script", cursive;
}

.texto-contacto {
  font-size: 20px;
  margin-top: 5%;
  margin-bottom: 25%;
  white-space: inherit;
  margin-right: 50%;
  font-family: "Quicksand", sans-serif;
  color: rgb(156, 102, 68);
}

.mapa {
  margin-left: 5%;
}

.pregunta-ubicacion {
  font-size: 35px;
  font-family: "Dancing Script", cursive;
  color: #673c3c;
  white-space: normal;
  margin-left: 52%;
  text-align: center;
  margin-top: -30%;
  margin-bottom: 2%;
}

.dato-direccion {
  font-size: 17px;
  font-family: "Quicksand", sans-serif;
  color: rgb(156, 102, 68);
  white-space: normal;
  margin-left: 52%;
  text-align: center;
  margin-bottom: 5%;
}

.pregunta-telefono {
  font-size: 35px;
  font-family: "Dancing Script", cursive;
  margin-left: 52%;
  text-align: center;
  margin-top: 2%;
  color: #673c3c;
  white-space: pre-line;
}

.dato-celular {
  font-size: 17px;
  font-family: "Cardo", serif;
  margin-left: 52%;
  text-align: center;
  margin-top: 2%;
  color: rgb(156, 102, 68);
  white-space: pre-line;
  margin-bottom: 20%;
  font-family: "Quicksand", sans-serif;
}

@media (max-width: 546px) {
  .titulo-hablamos {
    margin-top: 10%;
    margin-left: 30%;
    flex: 100%;
  }
}
@media (max-width: 768px) {
  .titulo-hablamos {
    margin-top: 10%;
    flex: 100%;
  }
}
@media (max-width: 1000px) {
  .titulo-hablamos {
    font-size: 30px;
    display: flex;
    margin-top: 45%;
    flex: 100%;
    margin-right: 40%;
  }
}
@media (max-width: 1000px) {
  .texto-contacto {
    margin-top: 5%;
    font-size: 15px;
    margin-right: 40%;
    margin-inline: 5%;
  }
}
@media (max-width: 1000px) {
  .mapa {
    margin-top: 10%;
    display: flex;
    flex: 100%;
    margin-right: 10%;
    width: 35%;
    height: 35%;
  }
}
@media (max-width: 546px) {
  .pregunta-ubicacion {
    margin-top: 10%;
    margin-left: 30%;
    flex: 100%;
  }
}
@media (max-width: 768px) {
  .pregunta-ubicacion {
    margin-top: 10%;
    flex: 100%;
  }
}
@media (max-width: 1000px) {
  .pregunta-ubicacion {
    margin-top: 10%;
    margin-left: 22%;
    margin-right: 10%;
    display: flex;
    flex: 100%;
    font-size: 30px;
  }
}
@media (max-width: 1000px) {
  .dato-direccion {
    margin-top: 5%;
    margin-left: 9%;
    font-size: 15px;
    white-space: pre-line;
    display: flex;
    flex: 100%;
  }
}
@media (max-width: 1000px) {
  .pregunta-telefono {
    margin-top: 10%;
    margin-left: 22%;
    margin-right: 10%;
    font-size: 30px;
    display: flex;
    flex: 100%;
  }
}
@media (max-width: 1000px) {
  .dato-celular {
    margin-top: 5%;
    margin-left: 9%;
    font-size: 15px;
    display: flex;
    flex: 100%;
  }
}
/* footer */
h1 {
  text-align: center;
  color: rgb(147, 113, 78);
  font-size: x-large;
  justify-content: end;
  font-family: "Cardo", serif;
}

footer {
  margin: 0%;
  width: 100%;
  bottom: 0%;
  margin-top: auto;
  display: block;
  padding-top: 1rem;
}
footer .sociales {
  background-color: rgb(225, 191, 138);
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 8px;
  text-align: center;
}
footer .sociales a {
  font-size: 20px;
  color: rgb(86, 84, 99);
  transition: all;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
  transform: scale(1.3, 1.3);
}

.fa-facebook:hover {
  transform: scale(1.5, 1.5);
  color: rgb(67, 44, 241);
  text-align: center;
}

.fa-instagram:hover {
  transform: scale 1.5, 1.5;
  color: rgb(199, 14, 128);
  text-align: center;
}

.fa-whatsapp:hover {
  transform: scale(1.5, 1.5);
  color: rgb(47, 215, 50);
  text-align: center;
}

.seguinos {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
  font-size: small;
}

@media (max-width: 546px) {
  .footer {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .footer {
    width: 30%;
  }
}
@media (max-width: 1000px) {
  .footer {
    width: 10%;
  }
}
/* Galeria */
.cards {
  margin-top: 5%;
  display: flex;
  margin-bottom: 10%;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
  background: 202, 197, 197;
  position: relative;
  flex: 1;
  max-width: 460px;
  height: 277px;
  margin: 37px;
  overflow: hidden;
}

.image img {
  position: relative;
  vertical-align: top;
  transition: 0.6s;
  width: 200px;
  transition-property: opacity;
}

.image:hover img {
  opacity: 0.5;
}

.image .details {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  color: #5f3f3f;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.4s;
  transition-property: transform;
}

.image .details h5 {
  text-align: center;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 80px;
  margin-left: -15%;
  opacity: 0;
  transform: 0.4s;
  transition-property: opacity, transform;
  font-family: "Tenor Sans", sans-serif;
}

.image:hover .details h5 {
  transform: translateY(-30px);
  opacity: 1;
}

.image .details p {
  margin: 12px 0 55px 55px;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  transition: 0.6s;
  transition-property: opacity, transform;
  font-family: "Quicksand", sans-serif;
}

.image:hover .details p {
  opacity: 1;
  transform: translateX(-40px);
}

.more {
  position: absolute;
  background: rgb(165, 132, 132);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  bottom: -60px;
  transition: 0.6s;
  transition-property: bottom;
}

.image:hover .more {
  bottom: 0;
}

.more .read-more {
  color: #595f65;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.more .read-more span {
  font-weight: 900;
}

.image {
  display: flex;
  grid-template-columns: repeat(1, 1fr);
  padding: 0.5vw;
}

@media (max-width: 1000px) {
  .image {
    flex: 100%;
    max-width: 200px;
  }
}
@media (max-width: 400px) {
  .image .details p {
    font-size: 10;
  }
  .more .read-more,
  .more {
    font-size: 13px;
  }
}
@media (max-width: 1000px) {
  .more .read-more,
  .more {
    font-size: 13px;
    padding: 8.5px;
    bottom: -15px;
  }
}
@media (max-width: 1000px) {
  .image .details p {
    font-size: 13px;
    white-space: inherit;
    margin-top: -10%;
  }
}
@media (max-width: 1000px) {
  .h5 {
    margin-top: 2%;
    font-size: 13px;
    white-space: inherit;
    margin-bottom: 3%;
  }
}
.titulo--trabajos {
  font-size: 35px;
  display: flex;
  margin-top: 10%;
  margin-left: 37%;
  color: #5f3f3f;
  font-family: "Cardo", serif;
}

@media (max-width: 1000px) {
  .titulo--trabajos {
    margin-left: 12%;
    font-size: 30px;
  }
}
.gallery {
  display: grid;
  margin-top: 5%;
  margin-bottom: 10%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(min(100%,300px), 1fr));
      grid-auto-rows: auto;*/
  grid-gap: 20px;
}

.gallery img {
  width: 100%;
  border-radius: 15px;
}

/* Inicio */
.imgfondo {
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 50%;
  margin-bottom: 50%;
  width: 80%;
  height: 80%;
}

h3 {
  margin-top: 10%;
  text-align: center;
  margin-bottom: 0%;
  color: #976544;
  font-family: "Cardo", serif;
  font-size: 40px;
}

h4 {
  margin-top: 5%;
  margin-bottom: 20%;
  text-align: center;
  color: #976544;
  font-family: "Cardo", serif;
  font-size: 30px;
}

h6 {
  color: #673c3c;
  margin-left: 57%;
  margin-top: -20%;
  font-family: "Cardo", serif;
  font-size: 15px;
}

@media (max-width: 546px) {
  .imgfondo {
    margin-top: 10%;
    width: 40%;
    height: 50%;
    flex: 100%;
  }
}
@media (max-width: 768px) {
  .imgfondo {
    margin-top: 40%;
    flex: 100%;
    width: 55%;
    height: 40%;
  }
}
@media (max-width: 1200px) {
  .imgfondo {
    margin-top: 50%;
    flex: 100%;
    width: 85%;
    margin-left: 7%;
    height: 90%;
  }
}
.navbar {
  background-color: rgb(225, 191, 138);
  width: 100%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.navbar-collapse {
  padding: auto;
  margin: auto;
}

.logo {
  width: 35%;
  max-width: 100%;
  height: 160 px;
  margin-top: -5%;
}

.navbar-toggler:hover {
  text-decoration: none;
}

.collapse:not(.show) {
  display: none;
  background-color: rgb(225, 191, 138);
}

.navbar-collapse {
  flex-grow: 1;
  align-items: center;
  opacity: 1;
  background-color: rgb(225, 191, 138);
  flex-direction: column;
  box-sizing: border-box;
  flex-basis: 100%;
}

/* titulos */
.animate__fadeIn {
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 50px;
  color: rgb(133, 91, 66);
  font-family: "Righteous", cursive;
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 5s;
}

@media (max-width: 546px) {
  .animate__fadeIn {
    margin-top: 10%;
  }
}
@media (max-width: 768px) {
  .animate__fadeIn {
    margin-top: 40%;
  }
}
@media (max-width: 1200px) {
  .animate__fadeIn {
    margin-top: 50%;
  }
}
/* Quien soy */
.imgRedonda {
  width: 240px;
  height: 300px;
  border-radius: 160px;
  border: 10px solid #5f3f3f;
  background-size: cover;
  margin-left: 10%;
  margin-bottom: 20%;
  transform: rotate3d(50deg);
}

.titulohola {
  margin-top: -43%;
  margin-left: 30%;
  margin-right: 0%;
  margin-bottom: 2%;
  font-size: 27px;
  color: #5f3f3f;
  font-family: "Cardo", serif;
}

p {
  margin-top: 0%;
  margin-left: 30%;
  margin-right: 10%;
  margin-bottom: 10%;
  font-size: 20px;
  white-space: inherit;
  color: #5f3f3f;
  font-family: "Cardo", serif;
}

@media (max-width: 546px) {
  .imgRedonda {
    margin-top: 10%;
    width: 40%;
    height: 50%;
    flex: 100%;
  }
}
@media (max-width: 768px) {
  .imgRedonda {
    margin-top: 40%;
    flex: 100%;
    width: 55%;
    height: 40%;
  }
}
@media (max-width: 1000px) {
  .imgRedonda {
    margin-top: 30%;
    display: flex;
    flex: 100%;
    margin-right: 10%;
    margin-left: 22%;
  }
}
@media (max-width: 546px) {
  .titulohola {
    font-size: 30px;
    margin-top: 10%;
    margin-left: 5%;
  }
}
@media (max-width: 768px) {
  .titulohola {
    font-size: 10px;
    margin-top: 20%;
    margin-left: 5%;
  }
}
@media (max-width: 1000px) {
  .titulohola {
    font-size: 25px;
  }
}
@media (max-width: 400px) {
  .p {
    font-size: 45px;
    margin-left: 10%;
    margin-right: 30%;
    white-space: normal;
  }
}
@media (max-width: 768px) {
  .p {
    font-size: 35px;
    margin-top: 20%;
    margin-left: 5%;
    white-space: inherit;
  }
}
@media (max-width: 1200px) {
  .p {
    font-size: 15px;
    white-space: inherit;
    margin-left: 5%;
    margin-right: 5%;
  }
}
/* Reserva online */
h2 {
  text-align: center;
  font-size: 30px;
  justify-content: center;
  color: rgb(176, 163, 163);
  opacity: 0%;
  font-family: "Cardo", serif;
}

.fecha {
  display: flex;
  background-color: #5f3f3f;
  opacity: 60%;
  width: 400px;
  height: 200;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10%;
  margin-left: 35%;
  justify-content: center;
  flex-wrap: wrap;
}

.agenda input {
  margin: 0 auto;
  width: 270px;
  padding: 20px;
  text-align: center;
  border-radius: 100px;
  margin: auto;
  background-color: #b18a72;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  color: #715a49;
  margin-bottom: 10%;
  margin-top: 5%;
}

.titulo--reserva {
  font-size: 30px;
  color: #917354;
  margin-bottom: 10%;
  margin-top: 10%;
  text-align: center;
  font-family: "Cardo", serif;
}

@media (max-width: 546px) {
  .fecha {
    margin-top: 10%;
    margin-left: 40%;
    flex: 100%;
  }
}
@media (max-width: 768px) {
  .fecha {
    margin-top: 10%;
    margin-left: 35%;
    flex: 100%;
  }
}
@media (max-width: 1000px) {
  .fecha {
    margin-top: 30%;
    display: flex;
    flex: 100%;
    margin-left: 5%;
    width: 90%;
    height: 20%;
  }
}
@media (max-width: 546px) {
  .agenda {
    margin-top: 10%;
    margin-left: 40%;
    flex: 100%;
  }
}
@media (max-width: 768px) {
  .agenda {
    margin-top: 10%;
    margin-left: 30%;
    flex: 100%;
  }
}
@media (max-width: 1200px) {
  .agenda {
    margin-top: 10%;
    display: flex;
    flex: 100%;
    margin-left: 5%;
  }
}

/*# sourceMappingURL=style.css.map */
