/* footer */
h1 {
  text-align: center;
  color: rgb(147, 113, 78);
  font-size: x-large;
  justify-content: end;
  font-family: "Cardo", serif;
}

footer {
  margin: 0%;
  width: 100%;
  bottom: 0%;
  margin-top: auto;
  display: block;
  padding-top: 1rem;
  .sociales {
    background-color: rgb(225, 191, 138);
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 8px;
    text-align: center;
    a {
      font-size: 20px;
      color: rgb(86, 84, 99);
      transition: all;
      text-align: center;
    }
  }
}

.fa {
  padding: 20px;
  font-size: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
  transform: scale(1.3, 1.3);
}

.fa-facebook:hover {
  transform: scale(1.5, 1.5);
  color: rgb(67, 44, 241);
  text-align: center;
}

.fa-instagram:hover {
  transform: scale (1.5, 1.5);
  color: rgb(199, 14, 128);
  text-align: center;
}

.fa-whatsapp:hover {
  transform: scale(1.5, 1.5);
  color: rgb(47, 215, 50);
  text-align: center;
}

.seguinos {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
  font-size: small;
}

@media (max-width: 546px) {
  .footer {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .footer {
    width: 30%;
  }
}

@media (max-width: 1000px) {
  .footer {
    width: 10%;
  }
}
