/* Galeria */
.cards {
  margin-top: 5%;
  display: flex;
  margin-bottom: 10%;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
  background: (202, 197, 197);
  position: relative;
  flex: 1;
  max-width: 460px;
  height: 277px;
  margin: 37px;
  overflow: hidden;
}

.image img {
  position: relative;
  vertical-align: top;
  transition: 0.6s;
  width: 200px;
  transition-property: opacity;
}

.image:hover img {
  opacity: 0.5;
}

.image .details {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  color: #5f3f3f;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.4s;
  transition-property: transform;
}

.image .details h5 {
  text-align: center;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 80px;
  margin-left: -15%;
  opacity: 0;
  transform: 0.4s;
  transition-property: opacity, transform;
  font-family: "Tenor Sans", sans-serif;
}

.image:hover .details h5 {
  transform: translateY(-30px);
  opacity: 1;
}

.image .details p {
  margin: 12px 0 55px 55px;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  transition: 0.6s;
  transition-property: opacity, transform;
  font-family: "Quicksand", sans-serif;
}

.image:hover .details p {
  opacity: 1;
  transform: translateX(-40px);
}

.more {
  position: absolute;
  background: rgb(165, 132, 132);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  bottom: -60px;
  transition: 0.6s;
  transition-property: bottom;
}

.image:hover .more {
  bottom: 0;
}

.more .read-more {
  color: #595f65;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.more .read-more span {
  font-weight: 900;
}

.image {
  display: flex;
  grid-template-columns: repeat(1, 1fr);
  padding: 0.5vw;
}

@media (max-width: 1000px) {
  .image {
    flex: 100%;
    max-width: 200px;
  }
}

@media (max-width: 400px) {
  .image .details p {
    font-size: 10;
  }

  .more .read-more,
  .more {
    font-size: 13px;
  }
}
.titulo--trabajos {
  font-size: 35px;
  display: flex;
  margin-top: 10%;
  margin-left: 37%;
  color: #5f3f3f;
  font-family: "Cardo", serif;
}

@media (max-width: 1000px) {
  .titulo--trabajos {
    margin-left: 12%;
    font-size: 30px;
  }
}

.gallery {
  display: grid;
  margin-top: 5%;
  margin-bottom: 10%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(min(100%,300px), 1fr));
    grid-auto-rows: auto;*/
  grid-gap: 20px;
}

.gallery img {
  width: 100%;
  border-radius: 15px;
}
