* {
  padding: 0px;
  margin: 0px;
}

/* titulos */
.animate__fadeIn {
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 50px;
  color: rgb(133, 91, 66);
  font-family: "Righteous", cursive;
  animation: fadeIn;
  animation-duration: 5s;
}

@media (max-width: 546px) {
  .animate__fadeIn {
    margin-top: 30%;
  }
}

@media (max-width: 768px) {
  .animate__fadeIn {
    margin-top: 60%;
  }
}

@media (max-width: 1000px) {
  .animate__fadeIn {
    margin-top: 80%;
  }
}
