* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: $base-color;
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  height: 100vh;
}

.navbar {
  background-color: rgb(225, 191, 138);
  width: 100%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.navbar-collapse {
  padding: 0;
  margin: 0;
}

.logo {
  width: 35%;
  max-width: 100%;
  height: auto;
  margin-top: -5%;
}

.navbar-toggler:hover {
  text-decoration: none;
}
.collapse:not(.show) {
  display: none;
  background-color: rgb(225, 191, 138);
}

.navbar-collapse {
  flex-grow: 1;
  align-items: center;
  opacity: 1;
  background-color: rgb(225, 191, 138);
}

/* titulos */
.animate__fadeIn {
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 50px;
  color: $color-tittle;
  font-family: $font-tittle;
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 5s;
}

@media (max-width: 546px) {
  .animate__fadeIn {
    margin-top: 10%;
  }
}

@media (max-width: 768px) {
  .animate__fadeIn {
    margin-top: 40%;
  }
}

@media (max-width: 1200px) {
  .animate__fadeIn {
    margin-top: 50%;
  }
}

/* Inicio */
.imgfondo {
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 50%;
  margin-bottom: 50%;
  width: 80%;
  height: 80%;
}

h3 {
  margin-top: 10%;
  text-align: center;
  margin-bottom: 0%;
  color: #976544;
  font-family: "Cardo", serif;
  font-size: 40px;
}

h4 {
  margin-top: 5%;
  margin-bottom: 20%;
  text-align: center;
  color: #976544;
  font-family: "Cardo", serif;
  font-size: 30px;
}

h6 {
  color: #673c3c;
  margin-left: 57%;
  margin-top: -20%;
  margin-bottom: 10%;
  font-family: "Cardo", serif;
  font-size: 15px;
}

@media (max-width: 546px) {
  .imgfondo {
    margin-top: 10%;
    width: 40%;
    height: 50%;
    flex: 100%;
  }
}

@media (max-width: 768px) {
  .imgfondo {
    margin-top: 40%;
    flex: 100%;
    width: 55%;
    height: 40%;
  }
}
@media (max-width: 1200px) {
  .imgfondo {
    margin-top: 50%;
    flex: 100%;
    width: 85%;
    margin-left: 7%;
    height: 90%;
  }
}
/* Quien soy */
.imgRedonda {
  width: 240px;
  height: 300px;
  border-radius: 160px;
  border: 10px solid $color-font;
  background-size: cover;
  margin-left: 10%;
  margin-bottom: 20%;
  transform: rotate3d(50deg);
}

.titulohola {
  margin-top: -43%;
  margin-left: 30%;
  margin-right: 0%;
  margin-bottom: 2%;
  font-size: 27px;
  color: $color-font;
  font-family: $primary-font;
}

p {
  margin-top: 0%;
  margin-left: 30%;
  margin-right: 10%;
  margin-bottom: 10%;
  font-size: 20px;
  color: $color-font;
  font-family: $primary-font;
}

@media (max-width: 546px) {
  .imgRedonda {
    margin-top: 10%;
    width: 40%;
    height: 50%;
    flex: 100%;
  }
}

@media (max-width: 768px) {
  .imgRedonda {
    margin-top: 40%;
    flex: 100%;
    width: 55%;
    height: 40%;
  }
}
@media (max-width: 1000px) {
  .imgRedonda {
    margin-top: 30%;
    display: flex;
    flex: 100%;
    margin-right: 10%;
    margin-left: 22%;
  }
}

@media (max-width: 546px) {
  .titulohola {
    font-size: 30px;
    margin-top: 10%;
    margin-left: 5%;
  }
}

@media (max-width: 768px) {
  .titulohola {
    font-size: 35px;
    margin-top: 20%;
    margin-left: 5%;
  }
}
@media (max-width: 1000px) {
  .titulohola {
    font-size: 25px;
  }
}

@media (max-width: 400px) {
  .p {
    font-size: 15px;
    margin-left: 10%;
    margin-right: 30%;
  }
}

@media (max-width: 768px) {
  .p {
    font-size: 35px;
    margin-top: 20%;
    margin-left: 5%;
  }
}

@media (max-width: 1200px) {
  .p {
    font-size: 15px;
  }
}

/* Galeria */
.cards {
  margin-top: 5%;
  display: flex;
  margin-bottom: 10%;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
  background: (202, 197, 197);
  position: relative;
  flex: 1;
  max-width: 460px;
  height: 277px;
  margin: 37px;
  overflow: hidden;
}

.image img {
  position: relative;
  vertical-align: top;
  transition: 0.6s;
  width: 200px;
  transition-property: opacity;
}

.image:hover img {
  opacity: 0.5;
}

.image .details {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  color: #5f3f3f;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.4s;
  transition-property: transform;
}

.image .details h5 {
  text-align: center;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 80px;
  margin-left: -15%;
  opacity: 0;
  transform: 0.4s;
  transition-property: opacity, transform;
  font-family: "Tenor Sans", sans-serif;
}

.image:hover .details h5 {
  transform: translateY(-30px);
  opacity: 1;
}

.image .details p {
  margin: 12px 0 55px 55px;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  transition: 0.6s;
  transition-property: opacity, transform;
  font-family: "Quicksand", sans-serif;
}

.image:hover .details p {
  opacity: 1;
  transform: translateX(-40px);
}

.more {
  position: absolute;
  background: rgb(165, 132, 132);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  bottom: -60px;
  transition: 0.6s;
  transition-property: bottom;
}

.image:hover .more {
  bottom: 0;
}

.more .read-more {
  color: #595f65;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.more .read-more span {
  font-weight: 900;
}

.image {
  display: flex;
  grid-template-columns: repeat(1, 1fr);
  padding: 0.5vw;
}

@media (max-width: 1000px) {
  .image {
    flex: 100%;
    max-width: 200px;
  }
}

@media (max-width: 400px) {
  .image .details p {
    font-size: 10;
  }

  .more .read-more,
  .more {
    font-size: 13px;
  }
}
.titulo--trabajos {
  font-size: 35px;
  display: flex;
  margin-top: 10%;
  margin-left: 37%;
  color: #5f3f3f;
  font-family: "Cardo", serif;
}

@media (max-width: 1000px) {
  .titulo--trabajos {
    margin-left: 12%;
    font-size: 30px;
  }
}

.gallery {
  display: grid;
  margin-top: 5%;
  margin-bottom: 10%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(min(100%,300px), 1fr));
    grid-auto-rows: auto;*/
  grid-gap: 20px;
}

.gallery img {
  width: 100%;
  border-radius: 15px;
}
/* Reserva online */
h2 {
  text-align: center;
  font-size: 30px;
  justify-content: center;
  color: rgb(176, 163, 163);
  opacity: 0%;
  font-family: "Cardo", serif;
}

.fecha {
  display: flex;
  background-color: #5f3f3f;
  opacity: 60%;
  width: 400px;
  height: 200;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10%;
  margin-left: 35%;
  justify-content: center;
  flex-wrap: wrap;
}

.agenda input {
  margin: 0 auto;
  width: 270px;
  padding: 20px;
  text-align: center;
  border-radius: 100px;
  margin: auto;
  background-color: #b18a72;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  color: #715a49;
  margin-bottom: 10%;
  margin-top: 5%;
}

.titulo--reserva {
  font-size: 30px;
  color: #917354;
  margin-bottom: 10%;
  margin-top: 10%;
  text-align: center;
  font-family: "Cardo", serif;
}

@media (max-width: 546px) {
  .fecha {
    margin-top: 10%;
    margin-left: 40%;
    flex: 100%;
  }
}

@media (max-width: 768px) {
  .fecha {
    margin-top: 10%;
    margin-left: 35%;
    flex: 100%;
  }
}
@media (max-width: 1000px) {
  .fecha {
    margin-top: 30%;
    display: flex;
    flex: 100%;
    margin-left: 5%;
    width: 90%;
    height: 20%;
  }
}

@media (max-width: 546px) {
  .agenda {
    margin-top: 10%;
    margin-left: 40%;
    flex: 100%;
  }
}

@media (max-width: 768px) {
  .agenda {
    margin-top: 10%;
    margin-left: 30%;
    flex: 100%;
  }
}

@media (max-width: 1200px) {
  .agenda {
    margin-top: 10%;
    display: flex;
    flex: 100%;
    margin-left: 5%;
  }
}

/* footer */
h1 {
  text-align: center;
  color: rgb(147, 113, 78);
  font-size: x-large;
  justify-content: end;
  font-family: "Cardo", serif;
}

footer {
  margin: 0%;
  width: 100%;
  bottom: 0%;
  margin-top: auto;
  display: block;
  padding-top: 1rem;
  .sociales {
    background-color: rgb(225, 191, 138);
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 8px;
    text-align: center;
    a {
      font-size: 20px;
      color: rgb(86, 84, 99);
      transition: all;
      text-align: center;
    }
  }
}

.fa {
  padding: 20px;
  font-size: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
  transform: scale(1.3, 1.3);
}

.fa-facebook:hover {
  transform: scale(1.5, 1.5);
  color: rgb(67, 44, 241);
  text-align: center;
}

.fa-instagram:hover {
  transform: scale (1.5, 1.5);
  color: rgb(199, 14, 128);
  text-align: center;
}

.fa-whatsapp:hover {
  transform: scale(1.5, 1.5);
  color: rgb(47, 215, 50);
  text-align: center;
}

.seguinos {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
  font-size: small;
}

@media (max-width: 546px) {
  .footer {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .footer {
    width: 30%;
  }
}

@media (max-width: 1000px) {
  .footer {
    width: 10%;
  }
}
